<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>            
        </style>
          <link href="css/print.css" rel="stylesheet">
    </head>
    <body>
        <div class="invoice-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="4">
                        <table>
                            <tr>
                                <td class="title">
                                    <p>ESTRUTETO - Perfis em aço galvanizado</p>
                                    <p><h6>Rua Antonio Orlando, nº 470</p>
                                    <p>estruteto@hotmail.com</h6></p>
                                    <!--<img src="{#asset Invoice logo.png @encoding=dataURI}" style="width:100%; max-width:300px;" />-->
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    Orçamento nº: {{number}}
                                    <br> <%=orcamento[0].data%>                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="information ">
                    <td colspan="4">
                        <table>
                            <tr>
                                <td>
                                    <%=orcamento[0].nome_cliente%><br>
                                    <%=orcamento[0].endereco%><br>
                                    <%=orcamento[0].telefone%>
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>                    
                                <td>
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="heading ">
                    <td>
                        Qtd.
                    </td>
                    <td>
                        Item
                    </td>
                    <td>
                        Preço Unit.
                    </td>
                    <td>
                        Preço Total
                    </td>
                </tr>
                <% for(var i = 0; i < orcamento.length; i++){ %>
                <tr class="item">
                    <td>
                        <%=orcamento[i].qtd%>
                    </td>
                    <td>
                        <%=orcamento[i].nome_produto%>
                    </td>
                    <td>
                        <%=orcamento[i].unitario%>
                    </td>
                    <td>
                        <%=orcamento[i].total%>
                    </td>
                </tr>
                <% } %>    
                <tr class="total ">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        Total: ${{total items}}
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>