<%- contentFor('body') %> 
<div class="container-fluid">
    <form action="orcamento-post" method="POST">
        <div class="form-row">
            <select name="cliente" class="form-control">
                <option value="" selected="" required> Selecione um cliente</option>
                <% for(var i = 0; i < cliente.length; i++){ %>
                <option value="<%= cliente[i].id_cliente %> "><%= cliente[i].nome %></option>
                <% } %>
            </select>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="observacao">Observações</label>
            <textarea class="form-control" id="observacao" name="observacao" rows="6" cols="100"> OBS:
            TELHAS NÃO INCLUSAS NESTE ORÇAMENTO
            CONTRATO DE GARANTIA.
             ->FORMA DE PAGAMENTO<-
            *ATÉ 3X CARTÃO DE CREDITO
            *ENTRADA - 2X CHEQUE
            *DEPOSITO BANCARIO E DINHEIRO - 5% DE DESCONTO
            -BANCO DO BRASIL
            -BANCO ITAU
            -BANCO SICREDI</textarea>
          </div>
        </div>
        </br>
        <button type="submit" class="btn btn-primary">Iniciar orçamento</button>
    </form>
</br>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Data</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < orcamento.length; i++){ %>
    <tr>        
      <th scope="row"><%=orcamento[i].nome%></th>
      <td><%=orcamento[i].data%></td>
      <td><a href="http://35.232.183.169:5000/orcamento-print"+ <%=orcamento[i].id_orcamento%> ><i class="fas fa-print"></a></i></td><!-- onclick="NewTab()" -->
    </tr>
    <% } %>
  </tbody>
</table>
</div>
<script> 
  function NewTab() { 
      window.open( 
        "http://35.232.183.169:5000/orcamento-print", "_blank"); 
  } 
</script> 