<%- contentFor('body') %> 
<div class="container-fluid">
    <form action="orcamento-post" method="POST">
        <div class="form-row">
            <select name="cliente" class="form-control">
                <option value="" selected="" required> Selecione um cliente</option>
                <% for(var i = 0; i < cliente.length; i++){ %>
                <option value="<%= cliente[i].id_cliente %> "><%= cliente[i].nome %></option>
                <% } %>
            </select>
        </div>
        </br>
        <button type="submit" class="btn btn-primary">Iniciar orçamento</button>
    </form>
</br>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < orcamento.length; i++){ %>
    <tr>        
      <th scope="row"><%=orcamento[i].nome%></th>
      <td><%=orcamento[i].data%></td>
    </tr>
    <% } %>     
  </tbody>
</table>
</div>