<%- contentFor('body') %> 
<div class="container-fluid">
    <form action="orcamento-add" method="POST">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="qtd">Quantidade</label>
                <input type="text" class="form-control" id="qtd" name="qtd" placeholder="Qtd">
            </div>
            <div class="form-group col-md-6">
                <label for="material">Material</label>
                <select name="item" class="form-control">
                    <option selected="" required> Selecione um material</option>
                    <% for(var i = 0; i < material.length; i++){ %>
                    <option value="<%= material[i].id_material %> "><%= material[i].nome %></option>
                    <% } %>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="qtd">Valor Unit.</label>
                <input type="text" class="form-control" id="unit" name="unit" placeholder="Valor Unit.">
            </div>
            <div class="form-group col-md-2">
                <label for="qtd">Valor Total</label>
                <input type="text" class="form-control" id="total" name="total" placeholder="Valor Total">
            </div>
        </div>
        </br>
        <button type="submit" class="btn btn-primary">Adicionar item</button>
    </form>
</br>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Qtd</th>
      <th scope="col">Nome</th>
      <th scope="col">Valor Unit.</th>
      <th scope="col">Valor Total</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < itens.length; i++){ %>
    <tr>        
      <th scope="row"><%=itens[i].qtd%></th>
      <td><%=itens[i].id_material%></td>
      <td><%=itens[i].unitario%></td>
      <td><%=itens[i].total%></td>
    </tr>
    <% } %>     
  </tbody>
</table>
</div>
